* {
  padding: 0;
  margin: 0;
}

.main {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .loader {
  width: 20%;
  height: 20%;
}

body {
  background: #2f2f2f;
}

::-webkit-input-placeholder {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
}

.header {
  background: #ef5350;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 50px;
  padding: 5px 0;
}

.header .header-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 12%;
  height: auto;
}

.header .header-buscador {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88%;
}

.header .header-buscador-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 85%;
  height: 50%;
}

.header .header-buscador-container input {
  background: #ef5350;
  color: white;
  border: 0;
  width: 100%;
  outline: 0;
  /*
            box-shadow:0px 3px rgb(252, 42, 42);
            border-radius:5px;
            outline: none;
            */
}

.header .header-buscador-container .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("/Resources/buscar.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #ef5350;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px #fc2a2a;
          box-shadow: 0px 3px #fc2a2a;
  width: 45px;
}

.container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .container-main {
  padding: 20px 0 0 0;
  width: 90%;
  height: 220vh;
  background: #263238;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 23% 23% 23% 23%;
      grid-template-columns: 23% 23% 23% 23%;
  -ms-grid-rows: 35vh 35vh 35vh 35vh 35vh;
      grid-template-rows: 35vh 35vh 35vh 35vh 35vh;
  grid-column-gap: 2%;
  grid-row-gap: 5%;
  padding: 25px;
}

.container .container-main .container-main-section {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px #222222;
          box-shadow: 7px 7px #222222;
  background: white;
  font-family: 'DotGothic16', sans-serif;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.container .container-main .container-main-section figure {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.container .container-main .container-main-section figure .imagen {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#d60606), to(#972020));
  background: linear-gradient(top, #d60606, #972020);
  border-radius: 10px 10px 0px 0px;
}

.container .container-main .container-main-section figure .nombre {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: black;
  color: white;
  height: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'DotGothic16', sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

.container .container-main .container-main-section figure .informacion {
  padding: 10px 25px 0 25px;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: bold;
  overflow-x: hidden;
  overflow-y: visible;
  font-size: 13px;
}

.container .container-main .container-main-section figure .informacion::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

.container .container-main .container-main-section figure .informacion::-webkit-scrollbar-track {
  background: #e9e9e9;
  /* color of the tracking area */
}

.container .container-main .container-main-section figure .informacion::-webkit-scrollbar-thumb {
  background-color: black;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid black;
  /* creates padding around scroll thumb */
}

.container .container-main .container-main-section figure p {
  padding: 0 0 5px 0;
}

.container-main-section:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=principal.css.map */